.hlb {
  background-color: #9b1390;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 4rem;
  font-family: "Handlee", cursive;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.hlb:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background-color: #84107b;
}

